@{
    ViewData["Title"] = "Repara Ya! App";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO SUMERCÉ</h1>
    <p>Visita Tambien Nuestra Tienda Virtual <a href="https://myinterventas.com">My Interventas.com</a></p>
</div>
